.imgart
{
	width: 1920px;
	height: 1080px;
	margin-left: auto;
    margin-right: auto;

}

.logo
{
	height: 35px;
	}

.navbar
{
	background-color: #bf8040
}

body
{
	background-color: #bf8040;
}


.top-buffer { margin-top:50px; }

.row
{
	color: black;
	background-color: #A0522D;
	height: 100%;
}

.item
{
	max-height: 1080px;

}

.btn btn-primary btn-lg
{
	margin-left: auto;
	margin-right: auto;
}